[project]
	description = Daum Mail Checker
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Ikhoon Eom (ikhoon)
[access "refs/for/refs/*"]
	read = group user/Ikhoon Eom (ikhoon)
	push = group user/Ikhoon Eom (ikhoon)
	label-Code-Review = -2..+2 group user/Ikhoon Eom (ikhoon)
	label-Verified = -1..+1 group user/Ikhoon Eom (ikhoon)
	rebase = group user/Ikhoon Eom (ikhoon)
	removeReviewer = group user/Ikhoon Eom (ikhoon)
	submit = group user/Ikhoon Eom (ikhoon)
[access "refs/heads/*"]
	read = group user/Ikhoon Eom (ikhoon)
	create = group user/Ikhoon Eom (ikhoon)
	push = +force group user/Ikhoon Eom (ikhoon)
	pushMerge = group user/Ikhoon Eom (ikhoon)
[access "refs/tags/*"]
	push = +force group user/Ikhoon Eom (ikhoon)
	pushTag = group user/Ikhoon Eom (ikhoon)
	pushSignedTag = group user/Ikhoon Eom (ikhoon)
